* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;

}
/* HEADER SECTION */

.header {
    height: 69px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid seashell;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.logo {
    height: 50px;
    margin-left: 10px;
    align-self: flex-start;
}

#menu ul {
    list-style: none;
    text-align: right;
    clear: both;
    justify-content: right;
}

#menu li {
    display: inline;
    text-decoration: underline;
    padding-right: 20px;
    margin-right: 10px;
}