
body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;

}
/* HEADER SECTION */

.flex-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}

header {
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid seashell;
    align-items: center;
    background-color: black;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

#menu {
    text-align: right;
    flex-grow: 1;
}

#menu span {
    display: inline-block;
    text-decoration: underline;
    padding: 20px 10px;
}

/* Main section */

#background-img {
    height: 700px; 
    width: 1200px;
    margin-top: 69px;
}

#banner {
    height: 700px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    padding-top: 70px;
}

#banner .content {
    margin: auto;
    background-color: black;
    width: 100%;
}
/* Tea of the month section  */
.steeping {
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image {
    height: 200px;
    width: 300px;
    margin: 10px;
    margin-bottom: 10px;
}

.img-title {
    margin-top: 10px;
}

